services:
  - type: web
    name: d98-restaurant-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        fromDatabase:
          name: d98-restaurant-db
          property: connectionString